<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClbbWJsM1P9KK4sAuu0rBkh_R02NorEa0</string>
	<key>GCM_SENDER_ID</key>
	<string>532875674396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoFinal</string>
	<key>PROJECT_ID</key>
	<string>proyectofinal-9bf3c</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectofinal-9bf3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532875674396:ios:cbe2e1d9726e124d1770d9</string>
</dict>
</plist>